/***** region debug *****/

.debug #site_header{
    background-color: var(--boo-primary-darker);
    height: 100px;
}


/* 
[class^='col']{
    height: 100px;
    border: 1px solid ;
    background-color: brown;
}
.debug .jumbo{
    background-color:var(--boo-success-light);
    height: 500px;
}
.debug .portfolio{
    background-color: aliceblue;
    height: 500px;
}

.debug .about{
    background-color:var(--boo-success-light);
    height: 500px;
}

.debug .contact_me{
    background-color:aliceblue;
    height: 500px;
}

.debug .footer_top{
    background-color: var(--boo-primary-dark);
    height: 350px;
}

.debug .footer_bot{
    background-color: var(--boo-primary-darker);
    height: 150px;
}

*/


/* nesting */

/* TEST SE IL TUO BROWSER NON SUPPORTA IL NESTING COMMENTA QUI SOTTO E DECOMMENTALA PARTE SOPRA */
.debug {
   
    [class^='col']{
        height: 100px;
        border: 1px solid ;
        background-color: brown;
    }

    & main{
        background-color: black;

        > .jumbo{
            background-color:var(--boo-success-light);
            height: 500px;
        }

        > .portfolio{
            background-color: aliceblue;
            height: 500px;

            & [class^='col']{
                height: 100px;
                border: 1px solid ;
                background-color: brown;
            }
        }

        > .about{
            background-color:var(--boo-success-light);
            height: 500px;
        
        }
    
        > .contact_me{
            background-color:aliceblue;
            height: 500px;
        }
    }

    & #site_footer{

        background-color: black;
        > .footer_top{
            background-color: var(--boo-primary-dark);
            height: 350px;
        }

        > .footer_bot{
            background-color: var(--boo-primary-darker);
            height: 150px;
        }
    }
}
/* nesting */





/***** endregion debug *****/